# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit
.streamlit/

# OS metadata
Thumbs.db
.DS_Store

# IDEs
.vscode/
.idea/
